.header1 {
  color: white;
  text-align: left;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;


}

.topnav {
  background-color: rgb(255, 106, 0);
  overflow: hidden;
  width: 100%;
  display: block;
}
.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: orange;
  color: black;
}

.topnav a.active {
  background-color: orange ;
  color: white(4, 4, 4);
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  .Submit {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  .Submit :hover {
    background-color: blue;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  