

.header1 {
    color: white;
    text-align: left;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    font-family:'Franklin Gothic';
  
  
  }

  .donate {

    text-align: right;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-family:'Franklin Gothic';
  }

 
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


  .column {
    float: center;
    width: auto;
    padding: 2px 16px;
  }
  
  img {
    border-radius: 5px 5px 5px 5px;
  }
  
  
  .topnav {
      background-color: rgb(255, 106, 0);
      overflow: hidden;
      width: 100%;
      display: block;
    }
    .topnav a {
      float: right;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family:'Franklin Gothic';
      
    }
    
    .topnav a:hover {
      background-color: orange;
      color: black;
    }
  
    .topnav a.active {
      background-color: orange ;
      color: white(4, 4, 4);
    }

    .blurb {

      font-family:'Franklin Gothic';
    }
   
  
    .Toby {
      float: center;
      width: auto;
      padding: auto;
      margin: auto;
      font-family:'Franklin Gothic';
  
  
    }
  
    .Erica {
      float: center;
      width: auto;
      padding: auto;
      margin: auto;
      font-family:'Franklin Gothic';
  
    }
  
  
    .Spencer {
      float: center;
      width: auto;
      padding: auto;
      margin: auto;
      font-family:'Franklin Gothic';
    }
    
    .Maggie {
      float: center;
      width: auto;
      padding: auto;
      margin: auto;
      font-family:'Franklin Gothic';
    }

    .row {
text-align: center;
margin: 5px ;
font-family:'Franklin Gothic';


    }
    .column {
      float: left;
      width: 33%;
      padding: 5px;
    }

        .row::after {
          content: "";
          clear: both;
          display: table;
        }
    
        * {box-sizing:border-box}

       
        .slideshow-container {
          max-width: 100%;
          position: center;
          margin-top: 20px;
          margin-left: 160px;
          margin-right: 0px;
          margin-bottom: 0px;
        
        }
    
       
        .mySlides {
          display: none;
        }
        
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: 50px;
          margin-top: -22px;
          padding: 16px;
          color: darkorange;
          font-weight: bold;
          font-family:'Franklin Gothic';
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          margin-left: 170px;
          margin-right: 170px;
          margin-bottom: 0px;
        
        }
        
       

        .next {
          right: 0;
          border-radius: 20px ;
          background-color: rgba(255, 160, 122, 0.405) ;
        
        
        }
        
        
        .prev {
          left: 0;
          
          border-radius: 20px ;

          background-color: rgba(255, 160, 122, 0.405) ;
          
        
        }
        
        .next:hover {

          color: rgb(255, 255, 255);
          background-color: lightsalmon;
          padding: 20px;

        }

        .prev:hover {

          color: rgb(255, 255, 255);
          background-color: lightsalmon;
          padding: 20px;
          
        }
        
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          font-family:'Franklin Gothic';
        }
        
        
        
        
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        
        .active, .dot:hover {
          background-color: #717171;
        }
        
        
        .fade {
          animation-name: fade;
          animation-duration: 1.5s;
        }
        
        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        
        .button {
          -webkit-border-radius: 10px;
          margin-right:auto;
          margin-left: auto;
          margin-bottom: 10px;
          margin-top: 20px;
          border: none;
          color: #FFFFFF;
          cursor: pointer;
          display: inline-block;
          font-family: Arial;
          font-size: 20px;
          padding: 5px 10px;
          text-align: center;
          font-family:'Franklin Gothic';
          text-decoration: none;
          -webkit-animation: glowing 1500ms infinite;
          display:flex;
          align-items: center;
          justify-content: center;
          width: 250px;
          
        }
        @-webkit-keyframes glowing {
          0% { background-color: darkorange; -webkit-box-shadow: 0 0 3px darkorange; }
          50% { background-color: orange; -webkit-box-shadow: 0 0 40px orange; }
          100% { background-color: darkorange; -webkit-box-shadow: 0 0 3px darkorange; }
        }
        
        #myBtn {
          display: none; 
          position: fixed;
          bottom: 20px;
          right: 30px; 
          z-index: 99; 
          border: none; 
          outline: none; 
          background-color: darkorange; 
          color: white; 
          cursor: pointer; 
          padding: 15px; 
          border-radius: 10px;
          font-size: 18px; 
          font-family:'Franklin Gothic';
        }
        
        #myBtn:hover {
          background-color: orange; 
        }

        .container2 {

          font-family:'Franklin Gothic';
          padding-left: 5px;
          padding-right: 5px;
          background-color: orange;

          
        }